* {
    /*outline: 1px solid red;*/
}

.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 640px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-gropup-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: $eee;
}